[Desktop Entry]
Encoding=UTF-8
Name=SecurityX
Comment=SecurityX P2P Cryptocurrency
Comment[fr]=SecurityX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SecurityX, eşten eşe kriptografik sanal para birimi
Exec=securityx-qt %u
Terminal=false
Type=Application
Icon=securityx128
MimeType=x-scheme-handler/securityx;
Categories=Office;Finance;
