[Unit]
Description=SecurityX's distributed currency daemon
After=network.target

[Service]
User=securityx
Group=securityx

Type=forking
PIDFile=/var/lib/securityxd/securityxd.pid

ExecStart=/usr/bin/securityxd -daemon -pid=/var/lib/securityxd/securityxd.pid \
          -conf=/etc/SecurityX/securityx.conf -datadir=/var/lib/securityxd

ExecStop=-/usr/bin/securityx-cli -conf=/etc/SecurityX/securityx.conf \
         -datadir=/var/lib/securityxd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
